{% extends "base/base_dashboard.html" %}

{% load static %}

{% block title %}Budget{% endblock %}

{% block content %}
<div class="row mt-4">
  <div class="col-lg-5 mb-lg-0 mb-4">

    <div class="card z-index-2">
      <div class="card-body p-3">
        <div class="border-radius-lg py-3 pe-1 mb-3">
          <div class="chart">
            <canvas id="chart-bars" class="chart-canvas" width="215" ></canvas>
          </div>
        </div>
        <div id="legend-container"></div>
      </div>
    </div>

  </div>
  <div class="col-lg-5 mb-lg-0 mb-4">
      
      <div class="card z-index-2">
        <div class="card-body p-3">
          <div class="border-radius-lg py-3 pe-1 mb-3">           
            <form id="budget-form">
              <div class="form-group">
                <div class="row">
                  <div class="col-4">
                    <label for="custos-fixos">Custos fixos</label>
                  </div>
                  <div class="col-8">
                    <input type="range" class="form-control-range" id="custos-fixos" min="0" max="100" value="39">
                    <span id="custos-fixos-value">39%</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label for="conforto">Conforto</label>
                </div>
                <div class="col-8">
                  <div class="form-group">
                    <input type="range" class="form-control-range" id="conforto" min="0" max="100" value="15">
                    <span id="conforto-value">15%</span>
                </div>

                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <label for="metas">Prazer</label>
                </div>
                <div class="col-8">
                  <div class="form-group">
                      <input type="range" class="form-control-range" id="metas" min="0" max="100" value="70">
                      <span id="metas-value">70%</span>
                  </div>
                </div>
              </div>
            
              <div class="row">
                <div class="col-4">
                  <label for="metas">Metas</label>
                </div>
                <div class="col-8">
                  <div class="form-group">
                      <input type="range" class="form-control-range" id="metas" min="0" max="100" value="20">
                      <span id="metas-value">20%</span>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-4">
                  <label for="metas">Liberdade Financeira</label>
                </div>
                <div class="col-8">
                  <div class="form-group">
                    <input type="range" class="form-control-range" id="metas" min="0" max="100" value="20">
                    <span id="metas-value">20%</span>
                  </div>
                </div>
              </div>
            
            </form>
          </div>
        </div>
      </div>
  </div>



</div>
{% endblock content %}

